/**
 * Global
 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

body {
  font-family: "Noto Serif";
  border: solid #d30c7b 0.15rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0.4rem;

  @media #{$tablet} {
    .resume-container {
      max-width: 50em;
      margin: 0 auto;
    }
  }
}
