@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

.column {
  width: 100%;
  padding: 1%;
}
.skills {
  padding-right: 30%;
  width: 100%;
}
.row-one {
  display: flex;
}
.title {
  font-family: "Noto Serif";
  font-size: 1.8rem;
}
p {
  font-size: 1.1rem;
}
.education {
  display: flex;
  justify-content: center;
}
.education-ptag {
  text-align: center;
}
